@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --radius: 0.5rem
  ;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}
}

body {
  /* For Firefox */
  scrollbar-width: thin; /* Makes the scrollbar narrower */
  scrollbar-color: #aaa transparent; /* Custom scrollbar colors */

  /* For WebKit browsers */
  /* Thin scrollbar */
}

body::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
  height: 6px; /* Thin scrollbar height for horizontal scroll */
}

body::-webkit-scrollbar-thumb {
  background: #aaa; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded edges */
}

body::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker on hover */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}
